.update{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.update__returnHome{
    display: flex;
    position: absolute;
    top: 7rem;
    left: 10rem;
    background-color: white;
    height: 3rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
}

.update__form{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: white;
    padding: 2rem;
}

.dark{
    background-color: var(--dark-mode);
}

.light{
    background-color: var(--light-mode);
}