@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --font-base: "Cairo", sans-serif;
  --dark-mode: #3A4042;
  --light-mode: #C1D5DB;
  --primary-color:#8ECCCC;
  --secondary-color: #50717B;
}

* {
  font-family: var(--font-base);
  color: var(--secondary-color);
  margin: 0;
}